body{
   
  background-color:grey   
}

#calculator{
  margin: auto;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  max-width: 560px;
}

#calculator-screen{
  height: 20%;
  width: 100%;
}

#calculator-screen-temp{
  display: block;
  height: 30%;
  width: 100%;
  box-sizing:border-box;
  font-size: 1.3em;
 
}

#calculator-screen-input{
  display: block;
  height: 70%;
  width: 100%;
  box-sizing:border-box;
  font-size: 2em;
}

#calculator-keys{
  height: 80%;
  width: 100%;
  box-sizing:border-box;
  display: grid;
  grid-template-areas: 
  "c delete pi fatorial"
  "sqrt power percent divide"
  "seven eight nine time-s"
  "four five six minus"
  "one two three plus"
  "do-t zer-o equal equal"
  "oP cP equal equal";
}

button{
  font-size: 2em;
}


 #c{grid-area: c; font-size: 1.4em;}

 #delete{grid-area: delete;}

 #pi{grid-area: pi;}

 #fatorial{grid-area: fatorial;}


 #sqrt{grid-area: sqrt;}

 #power{grid-area: power;}

 #percent{grid-area: percent;}

 #divide{grid-area: divide;}


 #seven{grid-area: seven;}

 #eight{grid-area: eight;}

 #nine{grid-area: nine;}

 #times{grid-area: time-s;}


 #four{grid-area: four;}

 #five{grid-area: five;}

 #six{grid-area: six;}

 #minus{grid-area: minus;}


 #one{grid-area: one;}

 #two{grid-area: two;}

 #three{grid-area: three;}

 #plus{grid-area: plus;}


 #dot{grid-area: do-t;}

 #zero{grid-area: zer-o;}

 #equal{grid-area: equal;}


 #oPar{grid-area: oP;}

 #cPar{grid-area: cP;}

